In [17]:
# Data Wrangling
import numpy as np
import pandas as pd
import networkx as nx

In [18]:
data=pd.read_csv("/Users/Pit/GitHub/Econophysics/Project/Models/ourModels/Pietro&Riccardo/twitter.csv")
data=data.sort_values(by=["src", "dst"])

             src  dst
8              5   12
18850      18001   12
6030383    18020   12
9499671   380212   12
1749017   679338   12
7848061  2040382   12

In [ ]:
data[data["dst"] == 12]